

  <!-- Creation Three Columns -->
<div class="container marketing">
        <div class="row text-center">
          <div class="col-lg-6">
            <i class="fas fa-baby fa-5x"></i>
            <h2> Mélanie </h2>
            <p> blabla </p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-6">
             <i class="fas fa-bug fa-5x"></i>
            <h2> Grégo </h2>
            <p>blabla.</p>
          </div><!-- /.col-lg-4 -->
        </div>
</div>

